name: build

on:
  pull_request:
  push:
    branches:
      - master
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check HTTP status
        uses: gerdemann/http-status-code@1.0.0
        with:
          url: https://developer.nvidia.com/cuda-toolkit-archive
          code: 200
      - name: install dependencies
        id: cuda-update
        run: |
          git config --global core.autocrlf false
          curl https://developer.nvidia.com/cuda-toolkit-archive -o./cuda-toolkit-archive.html
          if [ "$(git diff --ignore-space-at-eol cuda-toolkit-archive.html | wc -l)" -gt "0" ]; then
            echo "update=true" >> $GITHUB_OUTPUT
          else
            echo "update=false" >> $GITHUB_OUTPUT
          fi
      - uses: actions/upload-artifact@v3
        with:
          name: cuda-toolkit-archive.html
          path: cuda-toolkit-archive.html
      - name: Check for available updates
        id: cheak_diff
        run: |
            git fetch origin create-pull-request/cuda &&
            git branchã€€&&
            git stash   &&
            git checkout origin/create-pull-request/cuda &&
            git diff --name-only &&
              if [ "$(git diff --name-only)" == "cuda-toolkit-archive.html" ]; then
                echo "diff=true" >> $GITHUB_OUTPUT
              else
                echo "diff=false" >> $GITHUB_OUTPUT
              fi &&
            git checkout . &&
            git checkout main &&
            git branch ||
            echo "diff=true" >> $GITHUB_OUTPUT
      - name: test
        id: test
        run: |
          if [ ""${{ steps.cheak_diff.outputs.diff }}" == "true" && "${{ steps.cuda-update.outputs.update }}" == "true"" ]; then
            echo "test=true" >> $GITHUB_OUTPUT
          fi
      - name: Create Pull Request
        id: cpr
        if: ${{ steps.test.outputs.test }}
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: "[bot]update cuda-toolkit-archive"
          title: "cuda-toolkit-archive update"
          labels: cuda
          body: maybe update CUDA cheak [cuda-toolkit-archive](https://developer.nvidia.com/cuda-toolkit-archive)
          draft: true
          delete-branch: true
          branch: create-pull-request/cuda
          author: GitHub <noreply@github.com>
      - name: Check outputs
        if: always()
        run: |
          echo ${{ steps.test.outputs.test }} test
          echo ${{ steps.cheak_diff.outputs.diff }}
          echo ${{ steps.cuda-update.outputs.update }}
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
